@import './minesweeperPage/minesweeper';
@import './startMenu/startMenu..scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  background-color: #b3b3b3;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}