@import 'libs/normalize';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  background-color: #b3b3b3;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}


.menu {
  margin: 0 auto;
  width: 450px;
}

.menu-list {
  display: flex;
  margin: 10px 0;
  justify-content: space-evenly;
  font-size: 32px;
}

.interface {
  margin: 0 auto;
  width: 450px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #757578;
  border-right: 4px solid #757578;
}

.interface-body {
  margin: 0 auto 25px;
  width: 408px;
  height: 408px;
  border-top: 4px solid #757578;
  border-left: 4px solid #757578;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}

.interface-list {
  display: block;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  align-items: flex-end;
  border-top: 4px solid #757578;
  border-left: 4px solid #757578;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}

.interface-list__item {
  width: 60px;
  height: 40px;
  border: 1px solid #000;
  font-size: 32px;
  line-height: 40px;
  color: red;
  background-color: #000;
}

.interface-list__item:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #757578;
  border-right: 4px solid #757578;
  background-color: #b3b3b3;
}

.canvas {
  margin-bottom: 10px;
  width: 400px;
  height: 400px;
}